.home {
  min-height: 90vh;
  background-color: $background-color-1;

  section {
    width: 90%;
    margin: auto;
  }

  .home-games {
    position: relative;
    padding: 2rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1.5rem;
    transition: all 1s ease-in;

    @media screen and (max-width: 650px) {
      grid-gap: none;
    }
  }

  @media screen and (min-width: 1700px) {
    padding: 0 80px;
  }
}
