@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

$text-color-1: #323c9e;
$text-color-2: #fff;
$primary-color: #3d50fa;
$background-color-1: #1a1b21;
$background-color-2: #23252c;

@mixin flex($justify, $align, $direction: row) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@import "Home";
@import "Card";
@import "Footer";
@import "Nav";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  color: $text-color-1;
  font-size: 2.4rem;
}

ul li {
  list-style-type: none;
}
a {
  color: $text-color-2;
  text-decoration: none;
  font-size: 0.9rem;
}

h4 {
  color: $text-color-2;
}

p {
  color: $text-color-2;
}

button {
  border: none;
  background-color: $primary-color;
  color: $text-color-2;
}

h5 {
  color: $text-color-2;
}
